@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200&family=Mulish:wght@200&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: "mulish", sans-serif;
}
body{
  background-color: aqua;

}
h1{
  text-align: center;
  margin: 20px;
  color: #2c1203;
  text-transform: uppercase;
  text-decoration: underline;
}
.list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.post{
  text-align: center;
}
.post{
  margin: 10px auto;
  max-width: 500px;
  padding: 10px;
  background-color: coral;
}
.post > h3 {
  text-align: center;
}